<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= config.title %></title>
  <meta name="description" content="<%= config.tagline %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="<%= config.title %>"/>
  <meta property="og:url" content="<%= url %>"/>
  <meta property="og:image" content="<%- url_for('/img/logo.png') %>"/>
  <meta property="og:description" content="<%= config.tagline %>"/>
  <meta property="og:site_name" content="<%= config.title %>">

  <% if (config.appstore_id) { %>
  <meta name="apple-itunes-app" content="app-id=<%= config.appstore_id %>">
  <meta name="twitter:card" content="app">
  <% if (config.twitter) { %>
  <meta name="twitter:site" content="@<%= config.twitter %>">
  <% } %>
  <meta name="twitter:description" content="<%= config.tagline %>">
  <meta name="twitter:app:country" content="<%= config.country %>">
  <meta name="twitter:app:name:iphone" content="<%= config.title %>">
  <meta name="twitter:app:id:iphone" content="<%= config.appstore_id %>">
  <meta name="twitter:app:url:iphone" content="https://itunes.apple.com/app/id<%= config.appstore_id %>">
  <% } %>

  <% if (config.facebook) { %>
  <meta property="profile:username" content="<%= config.facebook %>">
  <% } %>

  <link rel="icon" href="<%- url_for('/img/logo.png') %>">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic&subset=latin,cyrillic">
  <%- css([
    '//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css',
    '//npmcdn.com/flickity@1.2/dist/flickity.min.css',
    'css/styles.css'
  ]) %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
