<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html itemscope itemtype="http://schema.org/WebSite" lang="<%= config.language %>-<%= config.country %>" class="no-js">
<!--<![endif]-->

<%- partial('_partial/head') %>

<body>
<%- body %>
<%- partial('_partial/footer') %>
</body>

</html>
